# NUMBERS

In [1]:
a=(100/10)+100-9.75

In [2]:
a

100.25

# Ans 44,29,34

In [3]:
4 * (6 + 5)

44

In [4]:
4 * 6 + 5

29

In [5]:
4 + 6 * 5

34

In [6]:
a=3 + 1.5 + 4

In [7]:
a

8.5

In [8]:
type(a)

float

In [10]:
3**3

27

In [14]:
9**(1/2)

3.0

# STRING

In [15]:
s='hello'

In [16]:
s[1]

'e'

In [17]:
s[: : -1]

'olleh'

In [18]:
s[4]

'o'

In [19]:
s[-1]

'o'

# LIST

In [20]:
my_list=[0,0,0]

In [21]:
my_list

[0, 0, 0]

In [88]:
    print('{},{},{}'.format(0,0,0))

0,0,0

In [89]:
a=[0,0,0]

In [90]:
print(a)

[0, 0, 0]

In [22]:
list3 = [1,2,[3,4,'hello']]

In [23]:
list3

[1, 2, [3, 4, 'hello']]

In [26]:
list3[2]

[3, 4, 'hello']

In [30]:
list3[2]='goodbye'

In [31]:
list3

[1, 2, 'goodbye']

In [32]:
list4 = [5,3,4,6,1]

In [33]:
list4

[5, 3, 4, 6, 1]

In [34]:
list4.sort()

In [35]:
list4

[1, 3, 4, 5, 6]

# Dictionary

In [36]:
d = {'simple_key':'hello'}

In [37]:
d['simple_key']

'hello'

In [38]:
d = {'k1':{'k2':'hello'}}

In [39]:
d['k1']['k2']

'hello'

In [40]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [61]:
d={'k1':['hello']}

In [63]:
d['k1']

['hello']

In [78]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [81]:
d

{'k1': [1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]}

In [84]:
print(sorted(d.items()))

[('k1', [1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}])]

## list are mutable and tuples are immutable

In [64]:
a=(1,2,3,4,'hello')

In [65]:
a

(1, 2, 3, 4, 'hello')

# Sets

In [66]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [68]:
a=set(list5)

In [69]:
a

{1, 2, 3, 4, 11, 22, 33}

# Boolean

In [76]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [74]:
l_one[2][0]

3

In [75]:
l_two[2]['k1']

4